* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

@media (min-width: 357px) {
  .image .desktop {
    display: none;
  }
  body {
    height: 100vh;
  }
  form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    background-color: var(--light-blue);
    height: 50rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .image {
    height: 30%;
    position: relative;
  }
  main .image .step_selectors {
    position: absolute;
    top: 3em;
    left: 2.5em;
  }
  main .image .step_selectors .select.active {
    color: black;
    background-color: var(--pastel-blue);
  }
  main .image .step_selectors ul {
    display: flex;
    gap: 2rem;
  }
  main .image .step_selectors ul .step-description {
    display: none;
  }
  main .image .step_selectors li {
    list-style: none;
    font-size: 1.7rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    width: 3.7rem;
    text-align: center;
    color: white;
  }
  main .image .mobile {
    max-height: 100%;
    max-width: 370px;
  }
  main .hero {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-color: var(--light-blue);
  }
  main .hero .step-container {
    width: 90%;
    background-color: white;
    height: auto;
    position: absolute;
    top: -3.7em;
    left: 1.3em;
    border-radius: 1.2rem;
    box-shadow: 0px 0px 0px 0px rgba(97, 97, 97, 0.467);
  }
  main .hero .step-container .step1 {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    display: none;
  }
  main .hero .step-container .step1 header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step1 header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step1 header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step1 .step-hero {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  main .hero .step-container .step1 .step-hero fieldset {
    border: none;
  }
  main .hero .step-container .step1 .step-hero fieldset .label-error {
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step1 .step-hero fieldset .label-error label {
    color: var(--marine-blue);
    font-size: 1.3rem;
  }
  main .hero .step-container .step1 .step-hero fieldset .label-error .error {
    color: red;
  }
  main .hero .step-container .step1 .step-hero fieldset input {
    width: 100%;
    height: 5em;
    border: 1px solid var(--light-gray);
    border-radius: 0.2rem;
  }
  main .hero .step-container .step1 .step-hero fieldset ::-moz-placeholder {
    padding-left: 0.6rem;
  }
  main .hero .step-container .step1 .step-hero fieldset ::placeholder {
    padding-left: 0.6rem;
  }
  main .hero .step-container .step1 .controls {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: -6rem;
    right: 0.5rem;
  }
  main .hero .step-container .step1 .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step1.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }
  main .hero .step-container .step1.active header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step1.active header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step1.active header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step1.active .step-hero {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  main .hero .step-container .step1.active .step-hero fieldset {
    border: none;
  }
  main .hero .step-container .step1.active .step-hero fieldset .label-error {
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step1.active .step-hero fieldset .label-error label {
    color: var(--marine-blue);
    font-size: 1.3rem;
  }
  main .hero .step-container .step1.active .step-hero fieldset input {
    width: 100%;
    height: 5em;
    border: 1px solid var(--light-gray);
    border-radius: 0.2rem;
  }
  main .hero .step-container .step1.active .step-hero fieldset ::-moz-placeholder {
    padding-left: 0.6rem;
  }
  main .hero .step-container .step1.active .step-hero fieldset ::placeholder {
    padding-left: 0.6rem;
  }
  main .hero .step-container .step1.active .controls {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: -6rem;
    right: 0.5rem;
  }
  main .hero .step-container .step1.active .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step2 {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    display: none;
  }
  main .hero .step-container .step2 header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step2 header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step2 header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step2 .step-hero {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  main .hero .step-container .step2 .step-hero fieldset {
    display: flex;
    border: none;
    gap: 1em;
    padding: 1em;
    border-radius: 0.5rem;
    position: relative;
  }
  main .hero .step-container .step2 .step-hero fieldset .plan-details input[type=radio]::before {
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 0.5rem;
    top: 0em;
    bottom: 0em;
    left: 0;
    right: 0;
    opacity: 0.3;
    border: 2px solid black;
  }
  main .hero .step-container .step2 .step-hero fieldset .plan-details input[type=radio]:checked::after {
    content: "";
    position: absolute;
    background-color: rgba(249, 250, 253, 0);
    border-radius: 0.5rem;
    top: 0em;
    bottom: 0em;
    left: 0;
    right: 0;
    opacity: 1;
    border: 2px solid var(--light-blue);
  }
  main .hero .step-container .step2 .step-hero fieldset .plan-duration {
    color: var(--cool-gray);
  }
  main .hero .step-container .step2 .periodity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    border: none;
    background-color: var(--light-gray);
    border-radius: 0.8rem;
  }
  main .hero .step-container .step2 .periodity .toggle-switch {
    height: 60px;
  }
  main .hero .step-container .step2 .periodity input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  main .hero .step-container .step2 .periodity label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  main .hero .step-container .step2 .periodity label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  main .hero .step-container .step2 .periodity input:checked + label {
    background: #bada55;
  }
  main .hero .step-container .step2 .periodity input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  main .hero .step-container .step2 .periodity label:active:after {
    width: 10px;
  }
  main .hero .step-container .step2 .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -6rem;
    right: 0.5rem;
  }
  main .hero .step-container .step2 .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step2 .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .step2.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }
  main .hero .step-container .step2.active header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step2.active header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step2.active header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step2.active .step-hero {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  main .hero .step-container .step2.active .step-hero fieldset {
    display: flex;
    border: none;
    gap: 1em;
    padding: 1em;
    border-radius: 0.5rem;
    position: relative;
  }
  main .hero .step-container .step2.active .step-hero fieldset .plan-details input[type=radio]::before {
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 0.5rem;
    top: 0em;
    bottom: 0em;
    left: 0;
    right: 0;
    opacity: 0.3;
    border: 2px solid black;
  }
  main .hero .step-container .step2.active .step-hero fieldset .plan-details input[type=radio]:checked::after {
    content: "";
    position: absolute;
    background-color: rgba(249, 250, 253, 0);
    border-radius: 0.5rem;
    top: 0em;
    bottom: 0em;
    left: 0;
    right: 0;
    opacity: 1;
    border: 2px solid var(--light-blue);
  }
  main .hero .step-container .step2.active .step-hero fieldset .plan-duration {
    color: var(--cool-gray);
  }
  main .hero .step-container .step2.active .periodity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    border: none;
    background-color: var(--light-gray);
    border-radius: 0.8rem;
  }
  main .hero .step-container .step2.active .periodity .toggle-switch {
    height: 60px;
  }
  main .hero .step-container .step2.active .periodity input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  main .hero .step-container .step2.active .periodity label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  main .hero .step-container .step2.active .periodity label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  main .hero .step-container .step2.active .periodity input:checked + label {
    background: #bada55;
  }
  main .hero .step-container .step2.active .periodity input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  main .hero .step-container .step2.active .periodity label:active:after {
    width: 10px;
  }
  main .hero .step-container .step2.active .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -6rem;
    right: 0.5rem;
  }
  main .hero .step-container .step2.active .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step2.active .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .step3 {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    display: none;
  }
  main .hero .step-container .step3 header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step3 header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step3 header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step3 .step-hero {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }
  main .hero .step-container .step3 .step-hero fieldset {
    display: flex;
    align-items: center;
    gap: 0.1em;
    position: relative;
    padding: 0.8em 0.3em;
    border-radius: 0.5em;
    position: relative;
    border: none;
  }
  main .hero .step-container .step3 .step-hero fieldset input[type=checkbox]::before {
    content: "";
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0.5em;
    border: 1px solid black;
  }
  main .hero .step-container .step3 .step-hero fieldset input[type=checkbox]:checked::after {
    content: "";
    position: absolute;
    background-color: rgba(245, 245, 245, 0.336);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    border-radius: 0.5em;
    border: 1px solid var(--pastel-blue);
  }
  main .hero .step-container .step3 .step-hero fieldset .service-details .service-name {
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 1.3rem;
  }
  main .hero .step-container .step3 .step-hero fieldset .service-details .service-description {
    color: var(--cool-gray);
  }
  main .hero .step-container .step3 .step-hero fieldset .servicePrice {
    position: absolute;
    right: 1em;
    color: var(--purplish-blue);
  }
  main .hero .step-container .step3 .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -18rem;
    right: 0.5rem;
  }
  main .hero .step-container .step3 .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step3 .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .step3.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }
  main .hero .step-container .step3.active header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step3.active header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step3.active header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step3.active .step-hero {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }
  main .hero .step-container .step3.active .step-hero fieldset {
    display: flex;
    align-items: center;
    gap: 0.1em;
    position: relative;
    padding: 0.8em 0.3em;
    border-radius: 0.5em;
    position: relative;
    border: none;
  }
  main .hero .step-container .step3.active .step-hero fieldset input[type=checkbox]::before {
    content: "";
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0.5em;
    border: 1px solid black;
  }
  main .hero .step-container .step3.active .step-hero fieldset input[type=checkbox]:checked::after {
    content: "";
    position: absolute;
    background-color: rgba(245, 245, 245, 0.336);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    border-radius: 0.5em;
    border: 1px solid var(--pastel-blue);
  }
  main .hero .step-container .step3.active .step-hero fieldset .service-details .service-name {
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 1.3rem;
  }
  main .hero .step-container .step3.active .step-hero fieldset .service-details .service-description {
    color: var(--cool-gray);
  }
  main .hero .step-container .step3.active .step-hero fieldset .servicePrice {
    position: absolute;
    right: 1em;
    color: var(--purplish-blue);
  }
  main .hero .step-container .step3.active .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -6rem;
    right: 0.5rem;
  }
  main .hero .step-container .step3.active .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step3.active .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .step4 {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    display: none;
  }
  main .hero .step-container .step4 header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step4 header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step4 header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step4 .step-hero .checkout {
    display: flex;
    flex-direction: column;
  }
  main .hero .step-container .step4 .step-hero .checkout .selectedPlan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 1.2rem;
  }
  main .hero .step-container .step4 .step-hero .checkout .selectedPlan .selectedPlanName {
    display: flex;
    gap: 0.5em;
  }
  main .hero .step-container .step4 .step-hero .checkout hr {
    margin-top: 0.5em;
  }
  main .hero .step-container .step4 .step-hero .checkout .selectedServices {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 0.5em;
  }
  main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice1, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice2, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice3 {
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName1, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName2, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName3, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName1, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName2, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName3, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName1, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName2, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName3 {
    color: var(--cool-gray);
  }
  main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice1, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice2, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice3, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice1, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice2, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice3, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice1, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice2, main .hero .step-container .step4 .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice3 {
    color: var(--marine-blue);
    font-weight: 500;
  }
  main .hero .step-container .step4 .step-hero .total {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step4 .step-hero .total .selectedTotalName {
    color: var(--cool-gray);
  }
  main .hero .step-container .step4 .step-hero .total .selectedTotalPrice {
    color: var(--marine-blue);
    font-weight: 700;
  }
  main .hero .step-container .step4 .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -6rem;
    right: 0.5rem;
  }
  main .hero .step-container .step4 .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step4 .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .step4.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }
  main .hero .step-container .step4.active header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step4.active header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step4.active header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step4.active .step-hero .checkout {
    display: flex;
    flex-direction: column;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedPlan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 1.2rem;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedPlan .selectedPlanName {
    display: flex;
    gap: 0.5em;
  }
  main .hero .step-container .step4.active .step-hero .checkout hr {
    margin-top: 0.5em;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedServices {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 0.5em;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 {
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName3, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName3, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName3 {
    color: var(--cool-gray);
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice3, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice3, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice3 {
    color: var(--marine-blue);
    font-weight: 500;
  }
  main .hero .step-container .step4.active .step-hero .total {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step4.active .step-hero .total .selectedTotalName {
    color: var(--cool-gray);
  }
  main .hero .step-container .step4.active .step-hero .total .selectedTotalPrice {
    color: var(--marine-blue);
    font-weight: 700;
  }
  main .hero .step-container .step4.active .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -6rem;
    right: 0.5rem;
  }
  main .hero .step-container .step4.active .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step4.active .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .finish {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
  }
  main .hero .step-container .finish img {
    width: 5em;
  }
  main .hero .step-container .finish .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
    font-weight: 700;
  }
  main .hero .step-container .finish .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .finish.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .hero .step-container .finish.active img {
    width: 5em;
  }
  main .hero .step-container .finish.active .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
    font-weight: 700;
  }
  main .hero .step-container .finish.active .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  .active {
    display: block;
  }
}
@media (min-width: 768px) {
  main {
    background-color: var(--light-blue);
    height: 50rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .image {
    height: 30%;
    width: 30rem;
    position: relative;
  }
  main .image .step_selectors {
    position: absolute;
    top: 3em;
    left: 4.5em;
  }
  main .image .step_selectors ul {
    display: flex;
    gap: 2rem;
  }
  main .image .step_selectors li {
    list-style: none;
    font-size: 1.7rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    width: 3.7rem;
    text-align: center;
    color: white;
  }
  main .image .mobile {
    height: 100%;
    min-width: 100%;
  }
  .step2.active {
    display: block;
  }
  .step3.active {
    display: block;
  }
  .step4.active {
    display: block;
  }
  .finish.active {
    display: block;
  }
}
@media (min-width: 1030px) {
  form {
    background-color: var(--magnolia);
  }
  main {
    background-color: var(--light-blue);
    height: 38rem;
    min-width: 60rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    background-color: white;
    border-radius: 0.5em;
  }
  main .image {
    height: 100%;
    width: 18rem;
    position: relative;
  }
  main .image .step_selectors {
    position: absolute;
    top: 3em;
    left: 2.8em;
  }
  main .image .step_selectors ul {
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
  }
  main .image .step_selectors ul .first-step {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  main .image .step_selectors ul .first-step .select.active {
    color: black;
    background-color: var(--pastel-blue);
  }
  main .image .step_selectors ul .first-step .step-description {
    display: block;
  }
  main .image .step_selectors ul .first-step .step-description .step-number {
    color: var(--light-gray);
    font-size: 1rem;
  }
  main .image .step_selectors ul .first-step .step-description .step-info {
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
  }
  main .image .step_selectors li {
    list-style: none;
    font-size: 1.7rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    width: 3.7rem;
    text-align: center;
    color: white;
  }
  main .image .mobile {
    display: none;
  }
  main .image .desktop {
    display: block;
  }
  main .hero {
    width: 80rem;
    height: 20rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .hero .step-container {
    width: 90%;
    background-color: white;
    height: 95%;
    position: static;
  }
  main .hero .step-container .step1.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    display: block;
  }
  main .hero .step-container .step1.active header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step1.active header .heading {
    font-size: 3.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step1.active header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step1.active .step-hero {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  main .hero .step-container .step1.active .step-hero fieldset {
    border: none;
  }
  main .hero .step-container .step1.active .step-hero fieldset .label-error {
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step1.active .step-hero fieldset .label-error label {
    color: var(--marine-blue);
    font-size: 1.3rem;
  }
  main .hero .step-container .step1.active .step-hero fieldset input {
    width: 100%;
    height: 5em;
    border: 2px solid var(--light-gray);
    border-radius: 0.2rem;
  }
  main .hero .step-container .step1.active .step-hero fieldset ::-moz-placeholder {
    padding-left: 0.6rem;
    font-size: 1.2rem;
  }
  main .hero .step-container .step1.active .step-hero fieldset ::placeholder {
    padding-left: 0.6rem;
    font-size: 1.2rem;
  }
  main .hero .step-container .step1.active .controls {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: -4rem;
    right: 0.5rem;
  }
  main .hero .step-container .step1.active .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step2.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }
  main .hero .step-container .step2.active header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step2.active header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step2.active header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step2.active .step-hero {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  main .hero .step-container .step2.active .step-hero fieldset {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    width: 9em;
    gap: 3em;
    padding: 1em;
    border-radius: 0.5rem;
    position: relative;
    min-height: 14em;
  }
  main .hero .step-container .step2.active .step-hero fieldset img {
    width: 3.5em;
    height: 3.5em;
  }
  main .hero .step-container .step2.active .step-hero fieldset .plan-details {
    font-size: 1.5rem;
  }
  main .hero .step-container .step2.active .step-hero fieldset .plan-details input[type=radio]::before {
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 0.5rem;
    top: 0em;
    bottom: 0em;
    left: 0;
    right: 0;
    opacity: 0.3;
    border: 2px solid black;
  }
  main .hero .step-container .step2.active .step-hero fieldset .plan-details input[type=radio]:checked::after {
    content: "";
    position: absolute;
    background-color: rgba(249, 250, 253, 0);
    border-radius: 0.5rem;
    top: 0em;
    bottom: 0em;
    left: 0;
    right: 0;
    opacity: 1;
    border: 2px solid var(--light-blue);
  }
  main .hero .step-container .step2.active .step-hero fieldset .plan-duration {
    color: var(--cool-gray);
  }
  main .hero .step-container .step2.active .step-hero fieldset .free-month {
    color: var(--marine-blue);
    font-size: 1.2rem;
    font-weight: bold;
  }
  main .hero .step-container .step2.active .step-hero .periodity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    border: none;
    background-color: var(--light-gray);
    border-radius: 0.8rem;
  }
  main .hero .step-container .step2.active .step-hero .periodity .toggle-switch {
    height: 60px;
  }
  main .hero .step-container .step2.active .step-hero .periodity input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  main .hero .step-container .step2.active .step-hero .periodity label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  main .hero .step-container .step2.active .step-hero .periodity label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  main .hero .step-container .step2.active .step-hero .periodity input:checked + label {
    background: #bada55;
  }
  main .hero .step-container .step2.active .step-hero .periodity input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  main .hero .step-container .step2.active .step-hero .periodity label:active:after {
    width: 10px;
  }
  main .hero .step-container .step3.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    display: block;
  }
  main .hero .step-container .step3.active header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  main .hero .step-container .step3.active header .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step3.active header .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step3.active .step-hero {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin-top: 2em;
  }
  main .hero .step-container .step3.active .step-hero fieldset {
    display: flex;
    align-items: center;
    gap: 0.1em;
    position: relative;
    padding: 1em 1em;
    border-radius: 0.5em;
    position: relative;
    border: none;
  }
  main .hero .step-container .step3.active .step-hero fieldset input[type=checkbox]::before {
    content: "";
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0.5em;
    border: 1px solid black;
  }
  main .hero .step-container .step3.active .step-hero fieldset input[type=checkbox]:checked::after {
    content: "";
    position: absolute;
    background-color: rgba(245, 245, 245, 0.336);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    border-radius: 0.5em;
    border: 1px solid var(--pastel-blue);
  }
  main .hero .step-container .step3.active .step-hero fieldset .service-details .service-name {
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 1.3rem;
  }
  main .hero .step-container .step3.active .step-hero fieldset .service-details .service-description {
    color: var(--cool-gray);
  }
  main .hero .step-container .step3.active .step-hero fieldset .servicePrice {
    position: absolute;
    right: 1em;
    color: var(--purplish-blue);
  }
  main .hero .step-container .step3.active .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -4rem;
    right: 0.5rem;
  }
  main .hero .step-container .step3.active .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step3.active .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .step4.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    position: relative;
  }
  main .hero .step-container .step4.active header {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  main .hero .step-container .step4.active header .heading {
    font-size: 5rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step4.active header .paragraph {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step4.active .step-hero .checkout {
    display: flex;
    flex-direction: column;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedPlan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 2rem;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedPlan .selectedPlanName {
    display: flex;
    gap: 0.5em;
  }
  main .hero .step-container .step4.active .step-hero .checkout hr {
    margin-top: 0.5em;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedServices {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 0.5em;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 {
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServiceName3, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServiceName3, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServiceName3 {
    color: var(--cool-gray);
    font-size: 1.7rem;
  }
  main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice1 .selectedServicePrice3, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice2 .selectedServicePrice3, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice1, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice2, main .hero .step-container .step4.active .step-hero .checkout .selectedServices .selectedservice3 .selectedServicePrice3 {
    color: var(--marine-blue);
    font-weight: 500;
    font-size: 1.7rem;
  }
  main .hero .step-container .step4.active .step-hero .total {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
  }
  main .hero .step-container .step4.active .step-hero .total .selectedTotalName {
    color: var(--cool-gray);
    font-size: 1.7rem;
  }
  main .hero .step-container .step4.active .step-hero .total .selectedTotalPrice {
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 1.7rem;
  }
  main .hero .step-container .step4.active .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: -5rem;
  }
  main .hero .step-container .step4.active .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step4.active .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .finish.active {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .hero .step-container .finish.active img {
    width: 5em;
  }
  main .hero .step-container .finish.active .heading {
    font-size: 2.7rem;
    color: var(--marine-blue);
    font-weight: 700;
  }
  main .hero .step-container .finish.active .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step2 header, main .hero .step-container .step3 header {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  main .hero .step-container .step2 header .heading, main .hero .step-container .step3 header .heading {
    font-size: 5rem;
    color: var(--marine-blue);
  }
  main .hero .step-container .step2 header .paragraph, main .hero .step-container .step3 header .paragraph {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--cool-gray);
  }
  main .hero .step-container .step2 .controls, main .hero .step-container .step3 .controls {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: -5rem;
  }
  main .hero .step-container .step2 .controls .next, main .hero .step-container .step3 .controls .next {
    width: 5em;
    border-radius: 0.5rem;
    background-color: var(--marine-blue);
    font-size: 1.7rem;
    padding: 1rem 0.8rem;
    color: var(--white);
    cursor: pointer;
  }
  main .hero .step-container .step2 .controls .back, main .hero .step-container .step3 .controls .back {
    width: 5em;
    border-radius: 0.5rem;
    color: var(--marine-blue);
    font-size: 1.7rem;
    cursor: pointer;
  }
  main .hero .step-container .step1, main .hero .step-container .step2, main .hero .step-container .step3, main .hero .step-container .step4, main .hero .step-container .finish {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */